# Database
DATABASE_URL="your_database_url"

# Redis
REDIS_URL="your_redis_url"

# Brevo SMTP
SMTP_USERNAME="your_smtp_username"
SMTP_PASSWORD="your_smtp_password"
SMTP_SENDER_EMAIL="your_sender_email"

# Base URL
APP_BASE_URL="http://localhost:3000"

# JWT Configuration
APP_JWT_SECRET="your_jwt_secret_key"